.BenefitsSection {
  background: #eff1f2;
  width: 100%;
}
.contents {
  max-width: 128rem;
  margin: 0 auto;
  padding: 10.4rem 4.8rem;
}

.contents h1 {
  text-align: center;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 117%;
  margin: 0;
  color: #1d2127;
}

.cards {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 7.2rem;
}

.card {
  background: #ffffff;
  border-radius: 0.8rem;
  padding: 3.2rem 1.6rem;
  max-width: 58rem;
}

.card h2 {
  font-weight: normal;
  font-size: 2.4rem;
  line-height: 133%;
  color: #1d2127;
  margin: 0;
}

.card .items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 171%;
  letter-spacing: 3.29004e-9px;
  color: #15c5ce;
  margin-top: 2.4rem;
}

.card .items span {
  margin-right: 2rem;
  margin-top: 0.8rem;
}
