.jobsSection {
  background: #eff1f2;
  width: 100%;
}
.contents {
  max-width: 128rem;
  margin: 0 auto;
  padding: 10.4rem 4.8rem;
}

.contents h1 {
  text-align: center;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 117%;
  margin-top: 0;
  margin-bottom: 0.8rem;
}
.contents a {
  color: #15c5ce;
}

.contents p {
  font-weight: 500;
  font-size: 2rem;
  line-height: 2.8rem;
  text-align: center;
  color: #52575d;
}

.selection {
  display: flex;
  flex-direction: row;
  margin-top: 7.2rem;
  margin-bottom: 4.8rem;
}

.selection select {
  appearance: none;
  outline: none;
  width: 95.2rem;
  height: 5.6rem;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 20 20'%3e%3cpath stroke='%236b7280' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M6 8l4 4 4-4'/%3e%3c/svg%3e");
  background-position: right .5rem center;
  background-repeat: no-repeat;
  background-size: 1.25em;
  border: 0;
  border-radius: 8px;
  font-weight: normal;
  font-size: 2rem;
  line-height: 140%;
  color: #000000;
  padding-left: 2.4rem;
  margin-right: 4.8rem;
}

.selection a {
  width: 18.4rem;
  height: 5.6rem;
  color: #ffffff;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.6rem;
  text-align: center;
  padding: 1.5rem 0;
  background: #15c5ce;
  border-radius: 5.6rem;
}

@media only screen and (max-width: 1280px) {
  .contents {
    width: 76.8rem;
    padding: 4.8rem 2.4rem;
  }

  .contents p {
    font-size: 1.4rem;
    line-height: 157%;
  }

  .contents h1 {
    font-size: 2.8rem;
    line-height: 129%;
  }

  .selection {
    margin-top: 4.8rem;
    margin-bottom: 2.4rem;
  }

  .selection select {
    width: 56rem;
    height: 3.6rem;
    margin-right: 2.4rem;
    font-size: 1.4rem;
    line-height: 157%;
  }

  .selection a {
    width: 13.6rem;
    height: 3.6rem;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 150%;
    padding: 0.6rem 0;
  }
}

@media only screen and (max-width: 720px) {
  .contents {
    width: 32rem;
    padding: 4.8rem 1.2rem;
  }

  .contents p {
    text-align: center;
  }

  .selection {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2.4rem;
  }

  .selection select {
    width: 29.6rem;
    height: 3.6rem;
    margin-right: 0;
  }

  .selection a {
    margin-top: 2.4rem;
  }
}
