.productsSection {
  width: 100%;
  height: 64rem;
  color: #ffffff;
  position: relative;
  z-index: -100;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.1),
      rgba(255, 255, 255, 0.1)
    ),
    linear-gradient(102.44deg, #5bd7dd 28.08%, #15c5ce 93.38%);
}

.tdsBackground {
  z-index: -99;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: linear-gradient(77.13deg, #9cd0f5 4.68%, #5ca1e0 90.65%);
  opacity: 0;
}

.contents {
  max-width: 128rem;
  margin: 0 auto;
}

.taptapUI {
  position: absolute;
  width: 46.6rem;
  height: 40.4rem;
  bottom: -10.826rem;
}

.productsSection h1 {
  margin-top: 10.4rem;
  margin-bottom: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  font-size: 4.8rem;
  line-height: 5.6rem;
  height: 5.6rem;
}

.lowerContainerTDS {
  display: flex;
  flex-direction: row;
  margin-top: 12.546rem;
  position: relative;
  padding-left: 9.6rem;
}

.sausagemanContainer {
  background: #ffffff;
  border-radius: 2.467rem;
  height: 24.628rem;
  width: 51.6rem;
  padding: 0.73rem;
  margin-right: 7.6rem;
}

.sausagemanContainer img {
  width: 50.079rem;
  height: 23.128rem;
}

.productsText {
  display: flex;
  flex-direction: column;
}

.tabs {
  display: flex;
  flex-direction: row;
  height: 3.2rem;
  position: relative;
}

.rail {
  position: absolute;
  top: 4.2rem;
  left: 2.27rem;
  width: 22.73rem;
}

.slider {
  background: #ffffff;
  border-radius: 10rem;
  width: 4rem;
  height: 0.4rem;
}

.learnMore {
  width: 10.4rem;
  height: 4rem;
  background: #ffffff;
  border-radius: 5.6rem;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 171%;
  color: #232525;
  display: block;
  text-align: center;
  padding: 0.8rem 0;
  margin-top: 8.8rem;
}

.taptapLogo {
  width: 8.533rem;
  height: 3.2rem;
}

.taptapTab {
  opacity: 100%;
}

.tdsTab {
  opacity: 50%;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.2rem;
  display: flex;
  flex-direction: row;
  margin-left: 4.141rem;
}

.tabContents {
  position: relative;
  margin-top: 4.6rem;
}

.tabContents > div {
  position: absolute;
  top: 0;
}

.tabContents p {
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 150%;
  color: #ffffff;
  width: 45rem;
}

.taptapText {
  opacity: 1;
}

.tdsText {
  opacity: 0;
}

@media only screen and (max-width: 1280px) {
  .productsSection {
    height: 42rem;
  }

  .productsSection h1 {
    margin-top: 4.8rem;
    font-size: 2.8rem;
    line-height: 3.6rem;
    height: 3.675rem;
  }

  .contents {
    width: 76.8rem;
  }

  .taptapUI {
    width: 30.6rem;
    height: 26.6rem;
    bottom: -8.476rem;
  }

  .lowerContainerTDS {
    margin-top: 8.887rem;
    padding-left: 3.4rem;
  }

  .sausagemanContainer {
    height: 16.162rem;
    width: 33.862rem;
    border-radius: 1.619rem;
    padding: 0.49rem;
  }

  .sausagemanContainer img {
    width: 32.864rem;
    height: 15.178rem;
    border-radius: 1.29515rem;
  }

  .tabs {
    height: 2rem;
  }

  .taptapLogo {
    width: 5.333rem;
    height: 2rem;
  }

  .tdsTab {
    font-size: 1.4rem;
    line-height: 143%;
  }

  .rail {
    position: absolute;
    top: 2.656rem;
    left: 1.367rem;
    width: 14.189rem;
  }

  .slider {
    width: 2.6rem;
    height: 0.3rem;
  }

  .tabContents {
    margin-top: 3.106rem;
  }

  .learnMore {
    margin-top: 5.825rem;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 150%;
    width: 8rem;
    height: 2.6rem;
    padding: 0.4rem 0;
  }

  .tabContents p {
    font-size: 1.2rem;
    line-height: 150%;
    width: 34rem;
  }
}

@media only screen and (max-width: 768px) {
  .productSection {
    height: 52rem;
  }

  .contents {
    width: 32rem;
  }

  .lowerContainerTDS {
    flex-direction: column-reverse;
    margin-top: 4.8rem;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    padding: 0;
  }
}
